<!DOCTYPE html>
<html lang="en">
  <!-- HEAD -->
  <%- include('./partials/head.ejs') %> 

  <body>
    <!-- HEADER -->
    <header>
      <section>
      <nav>
        <ul>
          <li><a href="#"><i class="fa-solid fa-truck-fast"></i> Segui tu compra</a></li>
          <li><a href="#"><i class="fa-solid fa-gear"></i> Servicio tecnico</a></li>
          <li><a href="#"><i class="fa-solid fa-store"></i> Sucursales</a></li>
          <li><a href="#"><i class="fa-solid fa-phone"></i> Venta telefonica</a></li>
          <li><a href="#"><i class="fa-solid fa-message"></i> Centro de ayuda</a></li>
          <li><a href="#"></a></li>
        </ul>
      </nav>
      <img src="/images/logo.jpg" alt="">
      <i class="fa-solid fa-bars"></i>
      <p><i class="fa-solid fa-circle-user"></i> Mi cuenta</p>
      <div>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit"><i
          class="fa-solid fa-magnifying-glass"></i></button>
      </form>  
      </div>  
      <i class="fa-solid fa-cart-shopping"></i>
      <nav>
        <ul>
          <li><a href="#">Celulares,Nootebooks</a></li>
          <li><a href="#">Electrodomesticos y Aires Ac.</a></li>
          <li><a href="#">Hogar, Muebles y Jardin</a></li>
          <li><a href="#">Salud, Belleza y Fitness</a></li>
          <li><a href="#">Bebes y Niños</a></li>
          <li><a href="#">Mas categorias</a></li>
        </ul>
      </nav>
      </section>
    </header>




    <!-- MAIN -->

  <main>
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="/images/banner/banner-descuento.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="/images/banner/banner-dream.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="/images/banner/banner-fitness.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="/images/banner/banner.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="/images/banner/banner-familia.jpg" class="d-block w-100" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    <section>

      <div class="main__section__caja">
        <img class ="main__section__img" src="/images/productos/televisor.jpg" alt="">
        <div class="main__section__texto">
        <h5>Secarropas centrífugo Koh-i-noor</h5>
        <p class="">$35.999</p>
        <p class="">10% OFF</p>  
        </div>    
        </div>
      <div class="main__section__caja">
        <img class ="main__section__img" src="/images/productos/celular.jpg" alt="">
        <div class="main__section__texto">
        <h5>Secarropas centrífugo Koh-i-noor</h5>
        <p class="">$35.999</p>
        <p class="">10% OFF</p>  
        </div>    
        </div>
      <div class="main__section__caja">
        <img class ="main__section__img" src="/images/productos/aireAcondicionado.jpg" alt="">
        <div class="main__section__texto">
        <h5>Secarropas centrífugo Koh-i-noor</h5>
        <p class="">$35.999</p>
        <p class="">10% OFF</p>  
        </div>    
        </div>
      <div class="main__section__caja">
        <img class ="main__section__img" src="/images/productos/colchon.jpg" alt="">
        <div class="main__section__texto">
        <h5>Secarropas centrífugo Koh-i-noor</h5>
        <p class="">$35.999</p>
        <p class="">10% OFF</p>  
        </div>    
        </div>
      <div class="main__section__caja">
        <img class ="main__section__img" src="/images/productos/lavarropas.jpg" alt="">
        <div class="main__section__texto">
        <h5>Secarropas centrífugo Koh-i-noor</h5>
        <p class="">$35.999</p>
        <p class="">10% OFF</p>  
        </div>    
        </div>
      <div class="main__section__caja">
        <img class ="main__section__img" src="/images/productos/netbook.jpg" alt="">
        <div class="main__section__texto">
        <h5>Secarropas centrífugo Koh-i-noor</h5>
        <p class="">$35.999</p>
        <p class="">10% OFF</p>  
        </div>    
        </div>
    </section>
  </main>






    <!-- FOOTER -->
  <footer>

  </footer>





    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
  </body>
</html>
